.adminMainDiv{
    margin-top: 1em;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.addingForm{
    width: 35%;
}
.existingData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    /* border: 1px solid rgb(180, 180, 180); */
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 20px;
    border-radius: 10px;
    border-top: 3px solid rgb(101, 60, 168);
}
.adminHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid rgb(192, 191, 191);
}
.existingData h3{
    color: rgb(41, 41, 41);
    margin-bottom: 0.5em;
    text-align: center;
    
}
.existingData h5{
    color: rgb(184, 180, 180);
    margin-bottom: 0.5em;
    text-align: center;
    
}
.existingData .cropsList{
    height: 350px;
    width: 80%;
    overflow: hidden;
    overflow-y: auto;
}
.cropsList::-webkit-scrollbar {
    display: none;
  }
.existingData .cropsList .cropItself{
    width: 100%;
    border-bottom: 1px solid rgb(223, 223, 223);
    display: flex;
    justify-content: space-between;
    
}
.adminRemoveIcon{
    width: 1em;
    transition: all 0.3s ease-in-out;
}
.adminRemoveIcon:hover{
    cursor: pointer;
    transform: scale(1.5);
}
.existingData .cropsList .cropItself p{
    text-align: center;
    padding: 5px;
    color: rgb(83, 84, 85);
}
.cropsForm, .pestsForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(180, 180, 180); */
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 20px;
    border-radius: 10px;
}
.form-groups{
    width: 100%;
    padding: 10px;

}

.form-groups input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(216, 216, 216);
    border: 0;
}
.form-groups input:focus{
    outline: none;
}


.adminSave{
    width: 70px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(101, 60, 168);
    color: white;
    border: none;
    transition: 0.3s all ease-in;
}
.adminSave:hover{
    cursor: pointer;
    background-color: rgb(68, 36, 119);
}
@media only screen and (max-width: 790px) {
    .adminMainDiv{
        height: fit-content;
        flex-direction: column;
    }
    .addingForm{
        margin-bottom: 2em;
        width: 95%;
    }
    .existingData{
        width: 95%;
        margin-bottom: 2em;
    }
   }